body {
    margin: 0px;
    margin-top: 200px;
    background-color: rgb(62, 120, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}  

a {
    text-decoration: none;
    border-style: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: rgb(231, 231, 231);
}

ul a {
    background-color: rgb(255, 239, 218);
}