body {
    margin: 0px;
    margin-top: 200px;
    background-color: rgb(62, 120, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}  

a {
    text-decoration: none;
    border-style: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: rgb(231, 231, 231);
}

ul a {
    background-color: rgb(255, 239, 218);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 0;
}

.user_links {
    display: flex;
}

.user_link {
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
}

.profile_link {
    background-color: rgb(255, 209, 209);
}

.chat_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat_form input {
    width: min-content;
    padding: 10px;
}

textarea {
    width: 350px;
    height: 100px;
    resize: none;
}

.messages_container {
    margin: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.single_message {
    background-color: rgb(196, 245, 229);
    color: black;
    padding: 20px;
    margin: 10px;
    width: 200px;
}

.sender_message {
    align-self: flex-end;
}

.receiver_message {
    background-color: rgb(255, 168, 168);
}