body {
    margin: 0px;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(62, 120, 101);
}

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(62, 120, 101);
    justify-content: flex-end;
}

.main_container {
    border: 2px solid red;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.find_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(243, 232, 19);
    width: 300px;
}

.chats_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(8, 63, 183);
    width: 300px;
}

.community_posts_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(47, 201, 33);
    width: 400px;
    gap: 20px;
}

.chats_container div, .find_container div, .community_posts_container div {
    border: 2px solid rgb(183, 183, 183);
    width: 300px;
}

.community_posts_container div {
    height: 150px;
    padding: 20px;
}

.search_bar {
    margin-bottom: 20px;
    padding: 5px;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    border-style: none;
    background-color: rgb(239, 255, 181);
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: rgb(231, 231, 231);
}

ul a {
    background-color: rgb(255, 239, 218);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 0;
}

.user_links {
    display: flex;
    justify-content: space-evenly;
}

.user_link {
    width: min-content;
}

.profile_link {
    background-color: rgb(255, 209, 209);
}

.request_link {
    width: 100px;
    text-align: center;
    background-color: rgb(159, 237, 237);
}

.chat_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat_form input {
    width: min-content;
    padding: 10px;
}

textarea {
    width: 350px;
    height: 100px;
    resize: none;
}

.messages_container {
    margin: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 600px;
    border-top: 1px solid rgb(178, 178, 178);
    border-bottom: 1px solid rgb(178, 178, 178);
    overflow-y: auto;
}

.single_message {
    display: flex;
    justify-content: space-between;
    background-color: rgb(196, 245, 229);
    color: black;
    padding: 20px;
    margin: 10px;
    width: 200px;
}

.sender_message {
    align-self: flex-end;
}

.receiver_message {
    background-color: rgb(255, 168, 168);
}

.languages_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

.language_box {
    margin: 5px;
}

.request_form {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    background-color: rgb(62, 120, 101);
    width: 500px;
    height: 500px;
    color: rgb(255, 255, 255);
}