:root {
    --light-yellow: #312b3d;
    --sandy-brown: #221d2f;
    --dark-purple: #ffffff;
    --black: #000000;
    --dark1: #1a1625;
    --neon-green: #22dfd07a;
    --neon-lilac: #ba82ff;
  }

body {
    margin: 0px;
    margin-top: 150px;
    background-color: var(--dark1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-purple);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

li{
    display: flex;
    list-style: none;
    padding-right: 50px;
}

i {
    color: var(--dark-purple);
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

nav i {
    font-size: 20px;
    margin-left: 3px;
}

a {
    display: flex;
    text-decoration: none;
}

i:hover {
    color: var(--neon-lilac);
}

.logo {
    color: #d0aaff;
}

.index_container {
    gap: 20px;
    box-shadow: 0px 0px 15px var(--black);
    padding: 50px;
}

.nav_logo {
    justify-self: start;
    padding-left: 50px;
    color: #d0aaff;
}

.button {
    border-style: none;
    background-color: var(--dark1);
    border: 1px solid #ba82ff;
    padding: 15px;
    margin: 10px;
    color: var(--dark-purple);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0px 0px 20px 1px #ba82ff7a;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0px 0px 30px 3px #22dfd07a;
    border: 1px solid #22dfd07a;
}

.index_paragraph {
    width: 500px;
    text-align: center;
    margin: 30px;
    line-height: 2em;
}

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_text {
    display: flex;
}

.profile_container {
    background-color: var(--sandy-brown);
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--black);
    margin-bottom: 50px;
}

.profile_photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--dark1);
    border: 2px solid #ba82ff;
    object-fit: cover;
}

nav {
    height: 50px;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--light-yellow);
    align-items: center;
    justify-content: space-between;
}

.main_container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1400px;
}

.find_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--sandy-brown);
    box-shadow: 0px 0px 15px var(--black);
    margin-bottom: 100px;
    height: 1000px;
    overflow-y: auto;
}

.find_users {
    margin-top: 30px;
}

.chats_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border-radius: 4px;
    background-color: var(--sandy-brown);
    box-shadow: 0px 0px 15px var(--black);
    margin-bottom: 100px;
    height: 1000px;
    overflow-y: auto;
}

.chat_box {
    display: flex;
    flex-direction: column;
    background-color: var(--sandy-brown);
    color: var(--dark-purple);
    width: 100%;
    border-top: 1px solid #ffffff;
}

.chat_box:last-child {
    border-bottom: 1px solid #ffffff;
}

.last_text {
    background-color: var(--light-yellow);
    padding-top: 10px;
    padding-bottom: 10px;
}

.community_posts_container {
    background-color: var(--dark1);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px var(--black);
    margin-bottom: 100px;
    height: 1000px;
    overflow-y: auto;
}

.find_container div{
    width: 300px;
}

.add_button {
    margin-bottom: 30px;
}

.drop_down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--light-yellow);
    border-radius: 4px;
    height: 400px;
    overflow-y: auto;
    margin: 30px;
}

.drop_down a {
    color: var(--dark-purple);
    padding: 10px;
    border-bottom: 3px solid var(--dark1);
    display: flex;
    width: 93%;
    justify-content: center;
}

.post_container {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 20px;
    border: 2px solid rgb(183, 183, 183);
    width: 400px;
    border-radius: 4px;
    background-color: var(--light-yellow);
    margin-bottom: 30px;
}

.post_view_container {
    height: auto;
    width: 600px;
}

.comment_container {
    height: auto;
    background-color: var(--sandy-brown);
    border: 2px solid var(--light-yellow);
}

.comments_container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.post_view_container h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.post_content {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post_container h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.post_container a {
    align-self: flex-start;
}

.author {
    color: var(--neon-lilac);
}

.search_bar {
    padding: 7px;
    width: 200px;
}


.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 0;
}

.user_links {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--dark1);
    width: 100%;
}

.user_link {
    width: min-content;
    text-decoration: none;
    border-style: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px;
}

.latest_message {
    width: 200px;
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #d0aaff;
}

.chat_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat_form input {
    width: min-content;
    padding: 10px;
}

textarea {
    width: 350px;
    height: 100px;
    resize: none;
    background-color: #ffffff;
}

.messages_container {
    margin: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 400px;
    border-top: 1px solid rgb(178, 178, 178);
    border-bottom: 1px solid rgb(178, 178, 178);
    overflow-y: auto;
}

.single_message {
    display: flex;
    justify-content: space-between;
    background-color: rgb(146, 225, 199);
    color: black;
    margin: 10px;
    width: 200px;
}

.sender_message {
    align-self: flex-end;
    border-radius: 40px 40px 0px 40px;
    padding: 20px;
}

.receiver_message {
    background-color: rgb(249, 122, 122);
    border-radius: 40px 40px 40px 0px;
    padding: 20px;
}

.languages_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.language_box {
    margin: 5px;
}

.request_form {
    top: 100px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 30px;
    z-index: 10;
    background-color: var(--dark1);
    width: 500px;
    height: 300px;
    color: var(--dark-purple);
    padding: 50px;
    border: 2px solid var(--dark-purple);
    box-shadow: 0px 0px 15px var(--black);
}

.flex_display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timestamp {
    align-self: flex-end;
    margin-left: 5px;
    color: rgb(105, 105, 105);
    font-size: 14px;
}

.notifs_view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.notif_container {
    display: flex;
    padding: 30px;
    border-radius: 4px;
    gap: 20px;
    background-color: var(--light-yellow);
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

.notif_message {
    width: 300px;
    color: #ba82ff;
    white-space: normal;
}

.icon {
    color: var(--neon-lilac);
    border: 1px solid var(--neon-lilac);
    border-radius: 4px;
    align-self: center;
    margin-right: 50px;
    box-shadow: 0px 0px 10px 0px #ba82ff7a;
}

.icon:hover {
    border: 1px solid var(--neon-green);
    box-shadow: 0px 0px 10px 1px #22dfd07a;
    color: var(--neon-green);
}

.username {
    margin-left: 50px;
}

.brown {
    background-color: var(--sandy-brown);
    color: var(--dark-purple);
}

.margin {
    margin: 10px;
}

.blue {
    color: rgb(233, 68, 186);
    border-color: rgb(233, 68, 186);
    box-shadow: 0px 0px 10px 0px rgb(233, 68, 186);
}

.red {
    border-color: rgb(233, 68, 74);
    box-shadow: 0px 0px 10px 0px rgb(233, 68, 74);
}

.green {
    border-color: rgb(68, 233, 162);
    box-shadow: 0px 0px 10px 0px rgb(68, 233, 162);
}

.grey {
    font-size: 14px;
    padding: 10px;
    height: 0%;
    box-shadow: none;
    border-color: #676767;
}

.bio {
    padding-bottom: 20px;
    text-align: center;
}

.levels {
    display: flex;
    align-items: center;
}

.levels_container {
    margin: 15px;
    align-items: center;
    gap: 30px;
    background-color: var(--sandy-brown);
    width: 700px;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
}

.fa-trash {
    color: #d21827;
}

.badge {
    position: absolute;
    padding: 1px 5px;
    border-radius: 50%;
    background: #d21827;
    color: #ffffff;
    right: 90px;
    top: 25px;
    font-size: 14px;
  }

.dark_lilac {
    color: #ffffff;
}

.invisible_button {
    background-color: transparent;
    border: none;
}

.edit_container form {
    gap: 15px;
}

.edit_button {
    border-color: rgb(233, 68, 186);
    box-shadow: 0px 0px 10px 0px rgb(233, 68, 186);
}

.profile_languages {
    font-size: 18px;
}

.emoji {
    font-size: 26px;
    margin: 10px;
}

.unread_badge {
    background-color: #d21827;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px;
    border-radius: 15px;
    height: min-content;
    font-size: 14px;
}

.profile_header {
    align-self: flex-start;
    margin: 0;
    color: var(--neon-lilac);
    margin-bottom: 20px;
}

ol li {
    padding: 0;
    width: 300px;
    margin-bottom: 10px;
}
