{% extends "layout.html" %}
{% block content %}
<div class="flex_container">
    <h2>Chat with {{ other_chatter }}</h2>

    {% set previous_date = namespace(value=0) %}
    {% set current_date = namespace(value=0) %}

    <div class="messages_container" id="messagesContainer">
        {% for message in messages %}
            {% set current_date.value = message[2].strftime('%d-%m-%Y') %}
            {% if current_date.value != previous_date.value %}
                <p class="date_header">{{ message[2].strftime('%d-%m-%Y') }}</p>
                {% set previous_date.value = message[2].strftime('%d-%m-%Y') %}
            {% endif %}
            {% if message[1] == sender %}
                <div class="single_message sender_message">
                    <p>{{ message[0] }}</p>
                    <p class="timestamp">{{ message[2].strftime('%H:%M') }}</p>
                </div>
            {% else %}
                <div class="single_message receiver_message">
                    <p>{{ message[0] }}</p>
                    <p class="timestamp">{{ message[2].strftime('%H:%M') }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <form class="chat_form" method="POST" action="/chat?username={{ other_chatter }}">
        <textarea type="text" name="message"></textarea><br>
        <input type="submit" value="Send" class="button">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    var messagesContainer = document.getElementById("messagesContainer");
    messagesContainer.scrollTop = messagesContainer.scrollHeight;
</script>
{% endblock %}

