{% extends "layout.html" %}
{% block content %}

<div class="main_container">
    <div class="chats_container">
        <h2>Your chats</h2>
        {% for chat in chats %}
        <div class="chat_box">
            <div class="user_links">
                <h3 class="username">{{ chat[0][0] }}</h3>
                <a href="/profile?username={{ chat[0][0] }}"><i class="fa fa-user icon"></i></a>
            </div>
            <div class="user_links last_text">
                <p class="latest_message">{{ chat[1] }}</p>
                <a href="/open_chat?username={{ chat[0][0] }}"><i class="fa fa-comments icon blue"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="community_posts_container">
        <h2>Community posts</h2>
        <a href="/open_post?id=None" class="button add_button">Add post</a>

        {% for post in posts %}
            <div class="post_container">
                <p class="author">@{{ post.author_username }}</p>
                <h3>{{ post.title }}</h3>
                <p class="post_content">{{ post.content }}</p>
                <a href="open_post?id={{ post.id }}" class="button">View post</a>
            </div>
        {% endfor %}
    </div>

    <div class="find_container">
        <h2>Find language partners</h2>
        <input class="search_bar" type="search" placeholder="Search">
        {% for user in find_users %}
        <div class="user_links brown">
            <h3 class="username">{{ user[0] }}</h3>
            <a href="/profile?username={{ user[0] }}"><i class="fa fa-user icon"></i></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const registrationSuccess = {{ registration|tojson|safe }};
    if (registrationSuccess) {
        alert('Registration successful!');
    }
</script>
{% endblock %}