<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SpeakSprouts</title>
        <link rel="stylesheet" href="static/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <nav>
            {% block buttons %}
            <h3 class="nav_logo">SpeakSprouts &#128172</h3>
            <li>
                <a href="/home?username={{ session.username }}"><i class="fa fa-home "></i></a>
                <a href="/profile?username={{ session.username }}"><i class="fa fa-user "></i></a>
                <a href="/notifications?username={{ session.username }}"><i class="fa fa-bell "></i></a>
                {% if session.notifications > 0 %}
                    <span class="badge">{{ session.notifications }}</span>
                {% endif %}
                <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
            </li>
            {% endblock %}
        </nav>
        {% block content %}{% endblock %}
    </body>
    {% block script %}{% endblock %}
</html>