<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SpeakSprouts</title>
        <link rel="stylesheet" href="static/main.css">
    </head>
    <body>
        <nav>
            {% block buttons %}
            <a href="/open_new?username={{ session.username }}">Home</a>
            <a href="/profile?username={{ session.username }}">My profile</a>
            <a href="/notifs?username={{ session.username }}">Notifs</a>
            <a href="/logout">Logout</a>
            {% endblock %}
        </nav>
        {% block content %}{% endblock %}
    </body>
    {% block scirpt %}{% endblock %}
</html>