<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SpeakSprouts</title>
        <link rel="stylesheet" href="static/main.css">
    </head>
    <body>
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <ul>
            {% for item in items %}
            <a href="/chat?username={{ item[0] }}"> {{ item[0] }}</a>
            {% endfor %}
        </ul>
        <a href="/logout">Kirjaudu ulos</a>
    </body>
</html>

