{% extends "layout.html" %}
{% block content %}

{% if post == "None" %}
    <form action="/add_post" method="POST">
        <h1>Make a post</h1>
        <p>Title:<br>
        <input type="text" name="title"></p>
        <p>Post:<br>
        <textarea type="text" name="content"></textarea></p>
        <input type="submit" value="Post" class="button">
    </form>
{% else %}
<div class="flex_container">
    <div class="post_container post_view_container">
        <p class="author">@{{ post.author_username }}</p>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
    </div>
    <form action="/add_comment?post_id={{ post.id }}" method="POST">
        <h3>Comment</h3>
        <textarea type="text" name="content"></textarea></p>
        <input type="submit" value="Comment" class="button">
    </form>

    <div class="flex_container comments_container">
    {% for comment in comments %}
        <div class="post_container comment_container">
            <p class="author">@{{ comment.author_username }}</p>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}
    </div>

</div>
{% endif %}
{% endblock %}