<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SpeakSprouts</title>
        <link rel="stylesheet" href="static/main.css">
    </head>
    <body>
        {% if profile["username"] == session.username %}
            <h2>This is your profile!</h2 >
            <a href="/edit_profile">Edit profile</a>
        {% else %}
            <h2>{{ profile["username"] }}'s profile</h2 >
        {% endif %}
        <ul>
            <li>Username: {{ profile["username"] }}</li>
            <li>Languages: {{ profile["languages"] }}</li>
            <li>Language levels: {{ profile["levels"] }}</li>
            <li>Bio: {{ profile["bio"] }}</li>
            <li>Color: {{ profile["color"] }}</li>
        </ul>
    </body>
</html>
