{% extends "layout.html" %}
{% block buttons %}{% endblock %}
{% block content %}
    <form class="index_container" action="/register" method="POST" onsubmit="return checkPassword()">
        <h1>Register</h1>
        <p>Username:<br>
        <input type="text" name="username" pattern="\w{3,12}" title="Username must be 3-12 characters and can only contain letters, numbers, and underscores." required>
        <p>Password:<br>
        <input type="password" name="password" id="password" pattern=".{6,24}" title="Password must be 6-24 characters." required></p>
        <p>Confirm password:<br>
        <input type="password" name="confirm_password" id="confirm_password" pattern=".{6,24}" title="Password must be 6-24 characters." required></p>
        <div class="flex_display">
            <a class="button red" href="/">Return</a>
            <input type="submit" value="Register" class="button">
        </div>
    </form>
{% endblock %}

{% block script %}
<script>
    const registrationSuccess = {{ registration|tojson|safe }};
    if (!registrationSuccess) {
        alert('Username already in use, please choose another one.');
    }

    function checkPassword(){
        const password = document.getElementById('password').value;
        const confirm_password = document.getElementById('confirm_password').value;
        
        if (password !== confirm_password) {
            alert('The password confirmation does not match the given password.');
            return false;
        }
        
        return true;
    }
</script>
{% endblock %}

